<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hi.</h1>
    <p>Paragraph stuff.</p>
    <!-- https://stackoverflow.com/questions/52644035/how-to-show-a-pandas-dataframe-into-a-existing-flask-html-table -->
    {% for table in tables %} 
        {{titles[loop.index]}}
        {{table|safe}}
    {% endfor %}
   
    <!-- adapted from: ttps://www.geeksforgeeks.org/retrieving-html-from-data-using-flask/ -->
    <form action="{{url_for("home")}}" method="post">
        <input type="text" id="school_name" name="school_name" placeholder="Search for schools.">
        <button type="submit">Search</button>
</body>
</html>